<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js & Express.js</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h1>I'm rendered through Express.js using EJS(Embedded Javascript)</h1>
    <form action="/go-data" method="post">
      <input type="text" placeholder="username" name="username" />
      <input type="text" placeholder="email" name="email" />
      <input type="password" placeholder="password" name="password" />
      <button>Submit</button>
    </form>
    <script src="index.js"></script>
  </body>
</html>
