<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js & Express.js</title>
</head>
<body>
    <h1>I'm rendered through Express.js using EJS(Embedded Javascript)</h1>
</body>
</html>